A:link { color: #FF0000; text-decoration
         : none; }
A:visited { color: #8E2323;
            text-decoration : none; }
A:active { color: #000000;
           text-decoration : none; }
A:hover{color:red;text-decoration:
                         none;}

body {background-color:#FFFFFF; text:#000000;}


